@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*{
    font-family: 'Fira Sans', sans-serif;
}

section{
    height: 90vh;
    background-color: #ECF0F1;
    border-bottom: 5px solid #9B59B6;
}