body{
    width: 100%;
}
.section{
    display: flex;
    flex-direction: column;
    height: 90vh;
    background-color: #E1AEFF;
    border-bottom: 5px solid #9B59B6;
    font-family: 'Silkscreen', cursive;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.section h2{
    font-size: 2em;
}